.lesson {
  border: 1px solid #000000;
  border-radius: 7px;
  padding: 5px;
  margin-right: 15px;
  .info {
    .infoHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      img {
        cursor: pointer;
      }
    }
  }
}
