h2 {
  text-align: center;
}
.timetable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .teachersList {
    margin-right: 25px;
    margin-left: 5%;
    .teacherName {
      border: 2px solid #000000;
      border-radius: 7px;
      text-align: center;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      margin-top: 10px;
      cursor: pointer;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
  .dayOfTheWeek {
    margin-top: 15px;
    .dayOfTheWeekLessons {
      margin-top: 5px;
      display: flex;
      flex-direction: row;
    }
  }
}

.editStudentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-bottom: 0;
  }
  .addLessonForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    font-size: 30px;
    input,
    select {
      border: 1px solid #a9a9a9;
      border-radius: 3px;
      font-size: 30px;
    }
    .checkBox {
      width: 30;
      height: 30px;
    }
    .formRow {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }
    button {
      font-size: 30px;
      border: 1px solid #000000;
      background-color: #000000;
      color: white;
      border-radius: 5px;
      padding: 5px 15px;
      align-self: flex-start;
      margin-top: 20px;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: #ffffff;
        color: #000000;
      }
    }
  }
}
